<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body style="margin-top: 30px">
<center>
    <form method="post"  action="/weather">
        Enter the city name: <input type="text" th:name="city" placeholder="Name of the city"/>
        <input type="submit" value="Check it">

    </form>
    <br/>
    <br/>


</center>

</body>
</html>